.navbar {
  padding: 20px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  width: 150px;
}
.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  /* color: black; */
  color: #d47d03;

  font-size: 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar button {
  background: transparent;
  font-size: 18px;
  color: #49557e;
  border: 1px solid green;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.navbar button:hover {
  background-color: #f2fff6;
}
.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid green;
}
.navbar li {
  cursor: pointer;
}
.navbar-search-icon {
  position: relative;
}
.navbar-search-icon img {
  width: 50px;
}
.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: limegreen;
  border-radius: 5px;
  top: -2px;
  right: -2px;
}
.navbar-profile {
  position: relative;
}
.navbar-profile-dropdown {
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
}
.navbar-profile:hover .navbar-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #b8f6e7;
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid darkcyan;
  outline: 2px solid white;
  list-style: none;
}
.navbar-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.navbar-profile-dropdown img {
  width: 20px;
}
.navbar-profile-dropdown li:hover {
  color: tomato;
}
.hr-class {
  padding-bottom: 20px;
}
@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }
  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right {
    gap: 30px;
  }
  .navbar-right img {
    width: 22px;
  }
  .navbar-search-icon img {
    width: 40px;
  }
  .navbar-right button {
    padding: 8px 25px;
  }
}
@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }
  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }
  .navbar-right {
    gap: 20px;
  }
  .navbar-right img {
    width: 20px;
  }
  .navbar-search-icon img {
    width: 45px;
  }
  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
  @media (max-width: 750px) {
    .navbar-menu {
      display: none;
    }
    .navbar-search-icon img {
      width: 37px;
    }
  }
}
